.glyphicon-search {
    color: #2874f0;
}

header .jumbotron {
    background-image: url('https://ak0.picdn.net/shutterstock/videos/10167680/thumb/1.jpg');
    width: 100%;
    background-size: cover;
}

.menu-bar a {
    display: inline;
}

@media (max-width:766px) {
    section {
        width: 80%;
        left: 10%;
    }
}

@media (min-width:863px) {
    footer .container-fluid span {
        font-size: 40px;
        position: absolute;
        top: 10%;
    }
    footer .container-fluid h3 {
        font-size: 1.9rem;
        width: 70%;
        position: relative;
        left: 15%;
        top: -10px;
    }
}